
frontend/node_modules
frontend/.DS_Store
node_modules
/dist
package-lock.json



# local env files
.env.local
.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/__pycache__

# do not include mock data
frontend/mock_data

backend/src/database

backend/data
backend/src/test*
backend/src/test.py
backend/src/config.yml

# ignore ipynb checkpoints
*.ipynb_checkpoints

# do not include arangodb files
arango_instance/

run_dev_instance.sh
launch_server.sh

archive/
arangodb/